/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Roboto&display=swap');

/* from https://github.com/code-sketch/memory-game/ */

.container-fluid {
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: whitesmoke;
}

.container-fluid.dark-mode {
    background-color: #242231;
}

.container-board {
    position: absolute;
    margin: 1rem;
}

.memory-game {
    width: 16em;
    height: 25em;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: .125em solid #242231;
    -webkit-perspective: 62.50em;
    perspective: 62.50em;
}

.memory-game.dark-mode {
    border: .125em solid whitesmoke;
}

.memory-card {
    width: calc(25% - .625rem);
    height: calc(33.333% - .625rem);
    position: relative;
    margin: .3em;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.memory-card:active {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.memory-card.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: .25em;
    position: absolute;
    border: .125em solid #df2c2c;
    border-radius: 0.5em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: whitesmoke;
}

p.technique {
    line-height: 6rem;
    text-align: center;
    font-size: .6rem;
    text-transform: uppercase;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.front-face {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front-face.dark-mode {
    background-color: #242231;
    color: whitesmoke;
}


/* media queries memory game */

@media screen and (min-width: 22.8em) {
    .memory-game {
        width: 18em;
    }
    #card-menu {
        width: 20em;
    }
}

@media screen and (min-width: 26.5em) {
    .memory-game {
        width: 22em;
    }
    p.technique {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 33.75em) {
    .memory-game {
        width: 25em;
        height: 30em;
    }
    p.technique {
        line-height: 8rem;
    }
}

@media screen and (min-width: 41.5em) {
    .memory-game {
        width: 30em;
        height: 30em;
    }
    p.technique {
        font-size: .8rem;
    }
}

@media screen and (min-width: 53.125em) {
    .memory-game {
        width: 40em;
    }
}


/* style card-menu */

#card-menu {
    width: 16em;
    text-align: center;
}

#card-menu h5 {
    font-size: 1.8rem;
}

#card-menu p {
    font-size: 1rem;
    line-height: 2rem;
}

#card-menu.dark-mode {
    color: whitesmoke;
}

.hide {
    display: none;
}


/* style game-info div */

.card-game-info {
    display: inline;
}

.info {
    display: -ms-grid;
    display: grid;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.info.dark-mode {
    color: whitesmoke;
}

.time {
    float: left;
}

.attempts {
    float: right;
}

.card-game-info.dark-mode {
    color: whitesmoke;
}


/* style gameover and win */

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 3rem;
    right: 0;
    bottom: 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
}

.overlay-text h3 {
    font-size: 1.8rem;
}

.overlay-text.dark-mode h3 {
    color: whitesmoke;
}

.overlay-text.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-animation: overlay-grow 500ms forwards;
    animation: overlay-grow 500ms forwards;
}