@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Merienda One", cursive;
    background-color: whitesmoke;
}

header,
main {
    overflow: hidden;
}


/* NAVBAR from https://www.codingnepalweb.com/2020/04/responsive-menu-bar-in-html-css.html */

nav {
    background: whitesmoke;
    height: 4rem;
    width: 100%;
}

.logo {
    font-size: 3rem;
    margin-left: 1rem;
}

.logo img {
    width: 3.5rem;
    margin-top: .3rem;
}

.nav-item {
    display: block;
    margin: 3rem 0;
    line-height: 2rem;
}

.nav-item a {
    color: #242231;
    font-size: 2rem;
    padding: .3rem .8rem;
    border-radius: .2rem;
    text-transform: uppercase;
}

.link-text {
    display: none;
}

a:hover {
    background: none;
    color: #df2c2c;
    transition: .5s;
}

.checkbtn {
    font-size: 2rem;
    color: #242231;
    float: right;
    line-height: 4rem;
    margin-right: 1.5rem;
    cursor: pointer;
    display: block;
}

#check {
    display: none;
}

.navbar-nav {
    position: fixed;
    display: block;
    top: 4rem;
    float: left;
    width: 25%;
    margin-right: 1.2rem;
    margin-top: 0;
    z-index: 1;
    text-align: center;
    height: 100vh;
    background: whitesmoke;
    left: -100%;
    transition: all .5s;
}

#check:checked~ul {
    left: 0;
}


/* style h1  */

h1 {
    font-size: 1.5rem;
    color: #242231;
}


/* center h1 and button */

.row {
    text-align: center;
    padding: 2rem 0;
}


/* center hero-image */

.wrapper {
    position: relative;
    width: 100%;
    height: 20rem;
}

img.hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* style PLAY button and animate from W3Schools */

.btn {
    position: relative;
    font-family: "Merienda One", cursive;
    text-shadow: .1rem .1rem whitesmoke;
    background-color: #df2c2c;
    border: none;
    font-size: 1.2rem;
    color: #242231;
    border-radius: 20%;
    border: .1rem solid #242231;
    padding: 1rem;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:after {
    content: "";
    background: whitesmoke;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


/* sidebar from https://www.codingsnow.com/2021/01/responsive-sidebar-menu-dashboard.html */

.sidebar {
    z-index: 1;
    top: 0;
    background: whitesmoke;
    margin-top: 4rem;
    padding-top: 1.8rem;
    position: fixed;
    left: 0;
    width: 5rem;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    display: none;
}

.sidebar a {
    color: #242231;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    width: 100%;
    line-height: 3.75rem;
    padding-left: .5rem;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #df2c2c;
}

.sidebar i {
    padding-right: 0.6rem;
}

#check:checked~.sidebar {
    left: -11.5rem;
}

#check:checked~.sidebar a span {
    display: none;
    font-size: 1rem;
    text-transform: uppercase;
}

#check:checked~.sidebar a {
    font-size: 1rem;
    margin-left: 10rem;
    width: 100%;
}

.expand {
    width: 15rem;
}


/* media queries */

@media screen and (min-width: 23.4em) {
    .navbar-nav {
        width: 12%;
    }
    h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 26.5em) {
    .navbar-nav {
        display: 8%;
    }
}

@media screen and (min-width: 48.1em) {
    .navbar-nav {
        display: none;
    }
    .sidebar {
        display: block;
    }
    .active {
        display: inline-block;
    }
}


/* element to change dark mode */

body.dark-mode {
    background-color: #242231;
}

nav.dark-mode {
    background-color: #242231;
}

.nav-item a.dark-mode {
    color: whitesmoke;
}

.checkbtn.dark-mode {
    color: whitesmoke;
}

.navbar-nav.dark-mode {
    background: #242231;
}

.btn.dark-mode {
    color: whitesmoke;
    border: .1rem solid whitesmoke;
}

.btn:after.dark-mode {
    background: #242231;
}

.sidebar.dark-mode {
    background: #242231;
}

.sidebar a.dark-mode {
    color: whitesmoke;
}

h1.dark-mode {
    color: whitesmoke;
}


/* Style modals from W3Schools */


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: whitesmoke;
    background-color: transparent;
}


/* Modal Content/Box */

.modal-content {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #df2c2c;
    width: 80%;
}

.modal-content h2 {
    font-family: 'Merienda One', cursive;
    text-align: center;
    padding-bottom: 1rem;
}


/* The Close Button */

.close {
    color: #242231;
    float: right;
    line-height: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #df2c2c;
    text-decoration: none;
    cursor: pointer;
}


/* style image in description modal */

#photo {
    width: 100%;
    max-width: 20rem;
    height: auto;
    padding: .5rem;
}


/* style map in modal */

div#render-map {
    min-height: 22.5rem;
}